:root {
  --c-blue: #1c62cd;
  --txt-main: #2f2035;
}

@media screen and (max-width: 1200px) {
  .page-section {
    margin-bottom: 60px;
  }
  .container {
    max-width: 960px;
  }
  .menu-categories {
    min-height: 30px;
    font-size: 12px;
  }
  .menu-categories__link {
    padding: 3px 0 3px;
    position: relative;
  }
  .top-box__adress {
    width: 150px;
  }
  .banner-section__inner {
    display: flex;
    justify-content: space-between;
    height: 360px;
  }
  .banner-section__slider {
    max-width: 680px;
  }
  .banner-section__slider-item img {
    width: 100%;
    height: 360px;
  }
  .sale-item {
    max-width: 220px;
  }
  .sale-item__info {
    font-size: 8px;
    line-height: 10px;
  }
  .sale-item__price-new {
    font-size: 22px;
  }
  .sale-item__price-old {
    font-size: 14px;
  }
  .sale-item__footer {
    padding: 15px 10px;
    font-size: 15px;
  }
  .categories__item {
    width: 300px;
    margin-bottom: 15px;
  }

  /* Catalog */
  .product-item__wrapper {
    width: 189px;
    height: 300px;
    padding: 40px 10px 20px;
  }
  .product-item__img {
    width: 90px;
  }
  .product-item__title {
    padding: 10px 0 10px;
    font-size: 17px;
    line-height: 20px;
  }
  .product-item__price {
    font-size: 23px;
  }
  .product-item__notify-link {
    font-size: 13px;
    bottom: 16px;
  }
}

@media screen and (max-width: 992px) {
  .header.page-section {
    margin-bottom: 0;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .header__top-inner {
    font-size: 16px;
  }
  .top-box__phone {
    width: 200px;
  }
  .menu-categories {
    font-size: 10px;
  }
  .search-form__field {
    width: 160px;
    font-size: 11px;
    padding: 8px 35px 8px 10px;
  }
  .search-form__button {
    width: 29px;
    height: 29px;
    background-color: transparent;
  }
  .search-form__button::after {
    width: 18px;
    height: 18px;
    background-image: url(../img/loupe-black.svg);
    background-size: cover;
  }
  .search-form__button::after {
    top: 6px;
    left: 3px;
  }
  .bottom-box__user-image {
    max-height: 14px;
  }
  .cart__num {
    font-size: 8px;
    line-height: 11px;
    width: 11px;
    height: 11px;
    bottom: -2px;
    right: -10px;
  }
  .banner-section .container {
    padding: 0;
  }
  .banner-section__inner {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
  .banner-section__slider {
    max-width: 100%;
  }
  .banner-section__slider-item img,
  .banner__link img {
    height: 100%;
  }
  .search {
    display: none;
  }
  .categories__item {
    width: 32%;
  }
  .categories__item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .categories__item-img {
    width: 35%;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__top-block {
    margin: 0 20px 40px;
  }
  .footer__bottom {
    padding-top: 0;
  }

  /* Catalog */
  .catalog__filter-btn {
    display: none;
  }
  .catalog__inner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
  }
  /* Product-page */
  .card-info__tabs .tabs {
    padding: 12px 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header__top-inner {
    min-height: 50px;
    font-size: 12px;
  }
  .menu__item + .menu__item {
    padding-left: 15px;
  }
  .logo__img {
    display: none;
  }
  .logo p {
    font-size: 20px;
    line-height: 20px;
  }
  .top-box__phone {
    width: 150px;
    padding-left: 20px;
  }
  .top-box__phone::before {
    background-size: contain;
    width: 22px;
    height: 22px;
  }
  .menu-categories {
    min-height: 20px;
    font-size: 8px;
  }
  .search-form__field {
    position: absolute;
    top: -9px;
    left: -60px;
    width: 120px;
    font-size: 9px;
    padding: 3px 30px 3px 10px;
  }
  .bottom-box__user-image {
    max-height: 10px;
  }
  .search-form__button {
    width: 16px;
    height: 16px;
    right: -59px;
    top: -8px;
  }
  .search-form__button::after {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
  }
  .cart__num {
    font-size: 5px;
    line-height: 7px;
    width: 7px;
    height: 6px;
    bottom: 2px;
    right: -6px;
  }
  .categories__inner {
    justify-content: space-evenly;
  }
  .categories__item {
    width: 265px;
  }
  .categories__item-title {
    font-size: 22px;
    line-height: 26px;
  }
  .categories__item-img {
    width: 35%;
  }
  .overflow {
    overflow-x: scroll;
  }
  .mobile-overflow {
    width: 1000px;
    height: 40px;
  }
  .footer__top-newslatter {
    width: 600px;
    text-align: center;
  }
  .footer__top-form {
    margin-top: 20px;
    justify-content: center;
  }

  /* Catalog */
  .catalog__inner-aside {
    min-width: 200px;
  }
  .aside-filter__tab {
    font-size: 12px;
  }
  .aside-filter__item-drop {
    margin: 25px 0;
  }
  .filter-search {
    font-size: 11px;
    padding: 0px 10px;
    height: 25px;
    margin-top: 0px;
  }
  .jq-checkbox,
  .jq-radio {
    width: 14px;
    height: 14px;
    margin: 0 3px 0 0;
  }
  .aside-filter__content-radio {
    display: block;
  }
  .aside-filter__content-multybox {
    width: 50%;
  }
  .filter-btn__send {
    padding: 10px 60px;
    font-size: 13px;
  }
  .catalog__inner-list .product-item__wrapper {
    margin: 0px 0 15px 13px;
  }
  .product-item--sale::before {
    padding: 3px 10px;
    font-size: 9px;
  }
  .product-item__cart {
    padding: 3px 7px;
    width: 32px;
    height: 25px;
  }
  .product-item__wrapper {
    width: 150px;
    height: 270px;
    padding: 25px 8px 10px;
  }
  .product-item__img {
    width: 80px;
  }
  .product-item__title {
    padding: 5px 0 10px;
    font-size: 15px;
  }
  .product-item__price {
    font-size: 22px;
  }
  .product-item__notify-link {
    font-size: 10px;
    bottom: 14px;
  }
  .product-item__hover-text {
    font-size: 14px;
  }

  /* Product-page */
  .product-card__img {
    width: 100%;
  }
  .product-card__price-old {
    font-size: 24px;
  }
  .product-card__price-new {
    font-size: 34px;
  }
  a.product-card__link {
    display: inline-block;
    font-size: 12px;
    width: 100px;
  }
  .product-card__title {
    font-size: 26px;
  }
  .product-card__code {
    font-size: 13px;
  }
  .product-card__tab.tab-active {
    font-size: 16px;
  }
  .product-card__tab {
    width: 163px;
    font-size: 12px;
  }
  .product-card__tabs .tabs {
    padding-bottom: 0px;
  }
  .product-card__list {
    font-size: 16px;
    line-height: 20px;
  }
  .product-card__right {
    width: 150px;
  }
  .card-info__tabs .tabs {
    padding: 8px 0;
    font-size: 12px;
  }
  .card-info__tab.tab-active {
    font-size: 17px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .mobile-menu__hamburger {
    display: block;
    position: absolute;
    top: 83px;
    background: #f0f0f4;
    z-index: 10;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform: translate(-100%);
    transition: all 0.3s;
  }
  .hamburger-active {
    transform: translate(0%);
  }
  .mobile-menu__list {
    position: relative;
    border-bottom: 1px solid #c4c4c4;
  }
  .mobile-menu__link {
    display: block;
    padding-top: 20px;
    padding-left: 50px;
  }
  .mobile-menu__link img {
    position: absolute;
    left: 11px;
    bottom: 5px;
    width: 15px;
  }
  .header__top-inner {
    min-height: 50px;
  }
  .menu-categories {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__btn {
    display: block;
    border: none;
  }
  .menu__btn-line {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 5px 0;
    background: #2f3035;
  }
  .logo p {
    margin-right: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  .top-box__phone {
    width: 157px;
    font-size: 13px;
    padding-left: 20px;
  }
  .top-box__phone::before {
    width: 20px;
    height: 20px;
  }
  .search-form__field {
    width: 150px;
    left: 0;
  }
  .search-form__button {
    left: 130px;
  }
  .bottom-box__user-item {
    padding-right: 20px;
  }
  .bottom-box__user-image {
    max-height: 15px;
  }
  .cart__num {
    font-size: 7px;
    line-height: 11px;
    width: 11px;
    height: 11px;
    bottom: -2px;
    right: -9px;
  }
  .categories__item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__top-newslatter {
    width: 388px;
  }

  /* Catalog */
  .catalof__filter {
    margin-bottom: 30px;
    display: block;
  }
  .catalog__filter-select {
    margin-top: 30px;
  }
  .catalog__inner {
    flex-wrap: wrap;
  }
  .menu-filter__btn {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #f0f0f4;
    background: var(--c-blue);
  }
  .menu-filter__btn::before {
    content: "";
    position: absolute;
    background-image: url("../img/up-arrow-white.svg");
    right: 15px;
    bottom: 15px;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.8;
    transform: rotate(180deg);
  }
  .menu-filter__btn::after {
    content: "";
    position: absolute;
    background-image: url("../img/up-arrow-white.svg");
    left: 15px;
    bottom: 15px;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.8;
    transform: rotate(180deg);
  }
  .filter-active::before {
    transform: rotate(0deg);
  }
  .filter-active::after {
    transform: rotate(0deg);
  }
  .filter-btn__send {
    width: 80%;
  }
  .catalog__inner-list {
    margin-top: 40px;
  }
  .catalog__inner-aside {
    display: none;
    margin-right: 0;
  }
  .menu-filter__btn.filter-active {
    display: block;
  }
  .aside-filter__content-box {
    width: 23%;
  }
  .aside-filter__content-multybox {
    width: 33%;
  }
  .action span {
    left: 13%;
  }
  .aside-filter__content-radio {
    display: flex;
  }

  /* Product-page */
  .breadrumps__list-item {
    font-size: 10px;
  }
  .product-card__price-old {
    font-size: 21px;
  }
  .product-card__price-new {
    font-size: 30px;
  }
  a.product-card__link {
    display: inline-block;
    font-size: 11px;
    width: 100px;
  }
  .product-card__title {
    font-size: 21px;
  }
  .product-card__code {
    font-size: 11px;
  }
  .product-card__tab.tab-active {
    font-size: 12px;
  }
  .product-card__tab {
    width: 120px;
    font-size: 10px;
  }
  .product-card__list {
    font-size: 13px;
    line-height: 17px;
  }
  .product-card__item {
    padding: 10px 0 5px;
  }
  .product-card__right {
    width: 140px;
  }
  .card-info__tabs .tabs {
    padding: 8px 0;
    font-size: 10px;
  }
  .card-info__tab.tab-active {
    font-size: 13px;
  }
  .product-card__btn-buy button {
    font-size: 12px;
    padding: 13px 45px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 415px) {
  .footer__top-block {
    position: relative;
    margin: 0 0 40px;
    width: 100%;
  }
  .footer__top-block + .footer__top-block {
    margin: 0;
  }
  .footer__top-block:last-child {
    margin: 40px 0 40px;
  }
  .footer-border {
    border-top: 2px solid #c7c7c7;
  }
  .footer-border + .footer-border {
    border-bottom: 2px solid #c7c7c7;
  }
  .mobile-styler {
    padding: 15px 5px;
    pointer-events: auto;
  }
  .mobile-styler::before {
    content: "";
    position: absolute;
    background-image: url("../img/up-arrow.svg");
    right: 15px;
    bottom: 15px;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.5;
    transform: rotate(180deg);
  }
  .filter__item-drop::before {
    transform: rotate(0deg);
  }
  .footer-input {
    width: 100%;
  }
  .footer-list {
    padding-left: 5px;
    display: none;
  }
  .network-list {
    justify-content: center;
  }
  .network-list__item {
    margin: 0 15px;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__bottom-link {
    margin: 0 0 10px 5px;
  }

  /* Catalog */
  .catalog__title {
    font-size: 25px;
    line-height: 28px;
  }
  .pagination__list-item {
    padding: 4px 10px;
    font-size: 16px;
    line-height: 18px;
  }
  .aside-filter__content-box {
    width: 33%;
  }
  .action span {
    left: 18%;
  }
  .product-item__wrapper {
    width: 256px;
    height: 345px;
    margin: 0 10px;
    padding: 30px 20px 30px;
  }
  .product-item__favorite {
    width: 25px;
    height: 25px;
  }
  .product-item__cart {
    padding: 5px 10px;
    width: 40px;
    height: 30px;
  }
  .product-item--sale::before {
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .product-item__hover-text {
    padding: 15px 20px;
    top: 30%;
    left: 12%;
    width: 78%;
  }
  .product-item__img {
    width: 120px;
  }
  .product-item__title {
    padding: 10px 0 20px;
    font-size: 18px;
    line-height: 21px;
  }
  .product-item__price {
    font-size: 26px;
    line-height: 26px;
  }
  .product-item__notify-text {
    font-size: 18px;
    line-height: 21px;
  }
  .product-item__notify-link {
    font-size: 10px;
    line-height: 14px;
    bottom: 14px;
  }
  .product-item__hover-text {
    font-size: 20px;
  }

  /* Product-page */
  .product-card__inner {
    display: block;
  }
  .product-card__img-box {
    width: 100%;
  }
  .product-card__img {
    width: 70%;
  }
  .product-card__content-box {
    width: 100%;
  }
  .product-card__title {
    text-align: center;
    margin-top: 30px;
  }
  .product-card__tab.tab-active {
    font-size: 15px;
  }
  .product-card__tab {
    width: 170px;
    font-size: 13px;
  }
  .product-card__list {
    font-size: 16px;
    line-height: 20px;
  }
  .product-card__btn-buy {
    text-align: center;
  }
  .products__title {
    font-size: 22px;
  }
}
