@media screen and (max-width: 1200px) {
  .page-section {
    margin-bottom: 60px;
  }
  .container {
    max-width: 960px;
  }
  .menu-categories {
    min-height: 30px;
    font-size: 12px;
  }
  .menu-categories__link {
    padding: 3px 0 3px;
    position: relative;
  }
  .top-box__adress {
    width: 150px;
  }
  .banner-section__inner {
    display: flex;
    justify-content: space-between;
    height: 360px;
  }
  .banner-section__slider {
    max-width: 680px;
  }
  .banner-section__slider-item img {
    width: 100%;
    height: 360px;
  }
  .sale-item {
    max-width: 220px;
  }
  .sale-item__info {
    font-size: 8px;
    line-height: 10px;
  }
  .sale-item__price-new {
    font-size: 22px;
  }
  .sale-item__price-old {
    font-size: 14px;
  }
  .sale-item__footer {
    padding: 15px 10px;
    font-size: 15px;
  }
  .categories__item {
    width: 300px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  .header.page-section {
    margin-bottom: 0;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .header__top-inner {
    font-size: 16px;
  }
  .top-box__phone {
    width: 200px;
  }
  .menu-categories {
    font-size: 10px;
  }
  .search-form__field {
    width: 160px;
    font-size: 11px;
    padding: 8px 35px 8px 10px;
  }
  .search-form__button {
    width: 29px;
    height: 29px;
    background-color: transparent;
  }
  .search-form__button::after {
    width: 18px;
    height: 18px;
    background-image: url(../images/loupe-black.svg);
    background-size: cover;
  }
  .search-form__button::after {
    top: 6px;
    left: 3px;
  }
  .bottom-box__user-image {
    max-height: 14px;
  }
  .cart__num {
    font-size: 8px;
    line-height: 11px;
    width: 11px;
    height: 11px;
    bottom: -2px;
    right: -10px;
  }
  .banner-section .container {
    padding: 0;
  }
  .banner-section__inner {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
  .banner-section__slider {
    max-width: 100%;
  }
  .banner-section__slider-item img,
  .banner__link img {
    height: 100%;
  }
  .search {
    display: none;
  }
  .categories__item {
    width: 32%;
  }
  .categories__item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .categories__item-img {
    width: 35%;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__top-block {
    margin: 0 20px 40px;
  }
  .footer__bottom {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__top-inner {
    min-height: 50px;
    font-size: 12px;
  }
  .menu__item + .menu__item {
    padding-left: 15px;
  }
  .logo__img {
    display: none;
  }
  .logo p {
    font-size: 20px;
    line-height: 20px;
  }
  .top-box__phone {
    width: 150px;
    padding-left: 20px;
  }
  .top-box__phone::before {
    background-size: contain;
    width: 22px;
    height: 22px;
  }
  .menu-categories {
    min-height: 20px;
    font-size: 8px;
  }
  .search-form__field {
    position: absolute;
    top: -9px;
    left: -60px;
    width: 120px;
    font-size: 9px;
    padding: 3px 30px 3px 10px;
  }
  .bottom-box__user-image {
    max-height: 10px;
  }
  .search-form__button {
    width: 16px;
    height: 16px;
    right: -59px;
    top: -8px;
  }
  .search-form__button::after {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
  }
  .cart__num {
    font-size: 5px;
    line-height: 7px;
    width: 7px;
    height: 6px;
    bottom: 2px;
    right: -6px;
  }
  .categories__inner {
    justify-content: space-evenly;
  }
  .categories__item {
    width: 265px;
  }
  .categories__item-title {
    font-size: 22px;
    line-height: 26px;
  }
  .categories__item-img {
    width: 35%;
  }
  .overflow {
    overflow-x: scroll;
  }
  .mobile-overflow {
    width: 1000px;
    height: 40px;
  }
  .footer__top-newslatter {
    width: 600px;
    text-align: center;
  }
  .footer__top-form {
    margin-top: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .mobile-menu__hamburger {
    display: block;
    position: absolute;
    top: 83px;
    background: #f0f0f4;
    z-index: 10;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform: translate(-100%);
    transition: all 0.3s;
  }
  .hamburger-active {
    transform: translate(0%);
  }
  .mobile-menu__list {
    position: relative;
    border-bottom: 1px solid #c4c4c4;
  }
  .mobile-menu__link {
    display: block;
    padding-top: 20px;
    padding-left: 50px;
  }
  .mobile-menu__link img {
    position: absolute;
    left: 11px;
    bottom: 5px;
    width: 15px;
  }
  .header__top-inner {
    min-height: 50px;
  }
  .menu-categories {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__btn {
    display: block;
    border: none;
  }
  .menu__btn-line {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 5px 0;
    background: #2f3035;
  }
  .logo p {
    margin-right: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  .top-box__phone {
    width: 157px;
    font-size: 13px;
    padding-left: 20px;
  }
  .top-box__phone::before {
    width: 20px;
    height: 20px;
  }
  .search-form__field {
    width: 150px;
    left: 0;
  }
  .search-form__button {
    left: 130px;
  }
  .bottom-box__user-item {
    padding-right: 20px;
  }
  .bottom-box__user-image {
    max-height: 15px;
  }
  .cart__num {
    font-size: 7px;
    line-height: 11px;
    width: 11px;
    height: 11px;
    bottom: -2px;
    right: -9px;
  }
  .categories__item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__top-newslatter {
    width: 388px;
  }
}

@media screen and (max-width: 415px) {
  .footer__top-block {
    position: relative;
    margin: 0 0 40px;
    width: 100%;
  }
  .footer__top-block + .footer__top-block {
    margin: 0;
  }
  .footer__top-block:last-child {
    margin: 40px 0 40px;
  }
  .footer-border {
    border-top: 2px solid #c7c7c7;
  }
  .footer-border + .footer-border {
    border-bottom: 2px solid #c7c7c7;
  }
  .mobile-styler {
    padding: 15px 5px;
  }
  .mobile-styler::before {
    content: "";
    position: absolute;
    background-image: url("../images/up-arrow.svg");
    right: 15px;
    bottom: 15px;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.5;
    transform: rotate(180deg);
  }
  .filter__item-drop::before {
    transform: rotate(0deg);
  }
  .footer-input {
    width: 100%;
  }
  .footer-list {
    padding-left: 5px;
    display: none;
  }
  .network-list {
    justify-content: center;
  }
  .network-list__item {
    margin: 0 15px;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__bottom-link {
    margin: 0 0 10px 5px;
  }
}
