:root {
  --c-blue: #1c62cd;
  --txt-main: #2f2035;
}

* {
  box-sizing: border-box;
  /* Свойства width и height включают в себя значения полей (padding) и границ (border), но не отступов (margin) */
}

a {
  text-decoration: none;
  color: var(--txt-main);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--txt-main);
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.page-section {
  margin-bottom: 80px;
}

.header {
  font-size: 2vw;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}
.menu__item + .menu__item {
  /* застосовує властивості до сусіда, пропускаючи перший елемент */
  padding-left: 40px;
}
.menu__link {
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
}
.logo__img {
  height: 30px;
}

.top-box {
  display: flex;
}
.top-box__adress {
  margin-right: 40px;
  width: 200px;
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.top-box__adress::before {
  content: "";
  position: absolute;
  background-image: url("../images/location.svg");
  width: 30px;
  height: 30px;
  left: 0;
}

.top-box__user {
  display: flex;
  align-items: center;
}

.top-box__user-item {
  padding-right: 10px;
}
.top-box__user-image {
  max-height: 25px;
  width: 100%;
}

.cart {
  position: relative;
}
.cart__num {
  position: absolute;
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: var(--c-blue);
  border-radius: 50%;
  text-align: center;
  bottom: -5px;
  right: -10px;
}

.menu-categories {
  background-color: #f0f0f4;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-categories__link {
  padding: 12px 0 12px;
  position: relative;
}
.menu-categories__link::before {
  content: "";
  position: absolute;
  background-color: var(--c-blue);
  width: 0;
  right: 0;
  left: auto;
  height: 3px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 5;
}
.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}
.banner-section__slider {
  max-width: 870px;
  height: 100%;
}
.banner-section__slider-item img {
  width: 100%;
  height: 400px;
}

.banner-section__slider-btn,
.products-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}
.slick-dots button {
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
li.slick-active button {
  background-color: #fff;
}
.slick-slide img {
  display: inline;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__info {
  color: #fff;
  background-color: var(--c-blue);
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
}
.sale-item__price-new {
  color: var(--c-blue);
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  margin-right: 6px;
}
.sale-item__price-old {
  margin-right: 6px;
  text-align: end;
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
  text-decoration: line-through;
}
.sale-item__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 7px;
}
.sale-item__footer {
  background-color: #f0f0f4;
  padding: 25px 15px;
  font-size: 18px;
  line-height: 21px;
}
.sale-item__footer span {
  color: var(--c-blue);
  font-weight: 700;
}

.search__tabs {
  margin-bottom: 25px;
}
.search__tabs-item {
  padding: 10px 25px;
}
.tab-active {
  border-radius: 5px;
  background: #f0f0f4;
  font-weight: bold;
}
.tab-content {
  display: none;
}
.tab-content-active {
  display: block;
}
.search__content-form {
  display: flex;
}
.search__content-input {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  background: #f0f0f4;
}
.search__content-btn {
  background: var(--c-blue);
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  padding: 17px 40px;
  margin-left: -3px;
  border: none;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories__item {
  width: 350px;
  margin-bottom: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 15px;
  transition: all 0.3s;
}
.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.categories__item-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories__item-title {
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  transition: all 0.3s;
}
.categories__item:hover .categories__item-title {
  color: var(--c-blue);
}
.categories__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}
.categories__item-text::after {
  content: " >";
}

.products__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.products__tabs {
  margin-bottom: 25px;
}
.products__tab + .products__tab {
  margin-left: 50px;
}
.products__tab.tab-active {
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--c-blue);
}

.product-item__wrapper {
  display: inline-flex !important;
  position: relative;
  margin-left: 20px;
  width: 30%;
  transition: all 0.3s;
}
.product-item__wrapper.line {
  width: 100%;
}
.product-item__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  z-index: 5;
}
.product-item__favorite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../images/heart.svg");
}
.favorite-active {
  background-size: cover;
  background-image: url("../images/heart-blue.svg");
}
.product-item__cart {
  padding: 5px 10px;
  position: absolute;
  width: 40px;
  height: 30px;
  background: var(--c-blue);
  border-radius: 10px 0 0 0;
  border: none;
  bottom: 0;
  right: 0;
  z-index: 5;
  cursor: pointer;
}
.product-item--sale::before {
  content: "sale";
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px;
  background: var(--c-blue);
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}
.product-item {
  width: 100%;
  height: 345px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 50px 20px 30px;
  text-align: center;
  transition: all 0.3s;
}
.product-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: var(--c-blue);
}
.product-item__hover-text {
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  top: 30%;
  left: 12%;
  width: 78%;
  opacity: 0;
  transition: all 0.3s;
}
.product-item:hover .product-item__hover-text {
  opacity: 1;
  color: #2f2035;
}
.product-item__title {
  padding: 10px 0 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}
.product-item__price {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
}
.product-item__notify-text {
  display: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #2f2035;
}
.product-item__notify-link {
  display: none;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  color: var(--c-blue);
  bottom: 25px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}
.product-item__notify-link span {
  border-bottom: 1px solid var(--c-blue);
}
.product-item__wrapper.product-item__not-available .product-item__title {
  height: 70px;
}
.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}
.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: block;
}
.product-item__wrapper.product-item__not-available .product-item__cart {
  display: none;
}
.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}

.products-slider__slider-btnnext {
  right: -20px;
}
.products-slider__slider-btnprev {
  left: -40px;
}

.products__more {
  text-align: center;
  margin-top: 35px;
}
.products__more-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background: #f0f0f4;
  padding: 15px 40px;
}

.banner__link img {
  width: 100%;
  height: 200px;
}

.footer {
  background: #f0f0f4;
}
.footer__top {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}
.footer__top-newslatter {
  width: 290px;
}
.footer__top-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.footer__top-form {
  width: 295px;
  margin-top: 35px;
  display: flex;
}
.footer-input {
  border: none;
  font-size: 14px;
  line-height: 17px;
}
.footer-input ::placeholder {
  color: #c4c4c4;
}
.footer-btn {
  text-transform: uppercase;
  padding: 10px 15px;
  background: var(--c-blue);
  color: #fff;
  border: none;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.12em;
}
.footer-list {
  font-size: 14px;
  line-height: 24px;
}
.network-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.network-list__item {
  margin-right: 30px;
}
.network-list__item img {
  width: 25px;
  height: 25px;
}
.footer__bottom {
  padding: 45px 0 25px;
  display: flex;
  justify-content: center;
}
.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  margin: 0 40px;
  color: #48494d;
}

/* Сторінка каталога */
.breadcrumbs {
  margin: 40px 0;
}
.breadrumps__list-item {
  display: inline-block;
  padding-right: 15px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
}
.breadrumps__list-item a,
.breadrumps__list-item span {
  color: #c4c4c4;
}
.breadrumps__list-item::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0px;
  width: 14px;
  height: 15px;
  background-size: 20px;
  background-image: url("../images/grey-right-arrow.svg");
  opacity: 0.5;
}
.breadrumps__list-item:last-child::after {
  display: none;
}

.catalog {
  margin-bottom: 100px;
}
.catalog__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.catalof__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.catalog__filter-items button {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  background: #f0f0f4;
  border-radius: 3px;
  border: none;
  padding: 5px 22px;
  cursor: pointer;
}
.catalog__filter-items button + button {
  margin-left: 8px;
}
.catalog__filter-select {
  display: flex;
  align-items: center;
}
.catalog__filter-select .jq-selectbox {
  width: auto;
}
.catalog__filter-select button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  opacity: 0.3;
}
.select-item {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #cdcdcd;
  margin-right: 20px;
  padding: 5px 10px;
}
.select-item .jq-selectbox__trigger {
  border-left: none;
}
.catalog__filter-btn-grid.active,
.catalog__filter-btn-line.active {
  opacity: 0.8;
}
.catalog__inner {
  display: flex;
}
.catalog__inner-aside {
  min-width: 280px;
  max-width: 280px;
  margin-right: 10px;
}
.catalog__inner-list .product-item__wrapper {
  margin-bottom: 30px;
}
.pagination {
  width: 100%;
  margin-top: 70px;
}
.pagination__list {
  display: flex;
  justify-content: center;
}
.pagination__list-item {
  padding: 6px 12px;
  margin: 0 5px;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
}
.pagination__list-item.active {
  border: 2px solid var(--c-blue);
  color: var(--c-blue);
}

.aside-filter__tabs {
  display: flex;
}
.aside-filter__tab {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  letter-spacing: 0.09em;
  color: #c4c4c4;
  width: 50%;
}
.aside-filter__tab.tab-active {
  font-weight: bold;
  color: #2f3035;
  background: transparent;
}
.aside-filter__tab.tab-active span {
  border-bottom: 2px solid var(--c-blue);
  padding-bottom: 7px;
}
.aside-filter__item-drop {
  margin: 40px 0;
}
.aside-filter__item-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding-left: 26px;
  position: relative;
  cursor: pointer;
}
.aside-filter__item-title::before {
  content: "";
  position: absolute;
  background-image: url("../images/up-arrow.svg");
  left: 0;
  bottom: 2px;
  width: 15px;
  height: 15px;
  background-size: cover;
  opacity: 0.5;
  transform: rotate(0deg);
}
.filter__item-drop::before {
  transform: rotate(180deg);
}
.aside-filter__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.aside-filter__content-radio {
  display: flex;
  margin-top: 15px;
}
.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}
.aside-filter__content-multybox {
  width: 33%;
  margin-bottom: 10px;
}
.aside-filter__content-box,
.aside-filter__content-multybox label {
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.more-content {
  display: none;
}
.more-content.visible {
  display: block;
}
.jq-checkbox,
.jq-radio {
  background: transparent;
  vertical-align: -2px;
  box-shadow: none;
  border-radius: 3px;
}
.jq-checkbox.checked,
.jq-radio.checked {
  background: var(--c-blue);
}
.jq-checkbox.checked.white {
  background: transparent;
}
.jq-checkbox.checked.black {
  background: black;
}
.jq-checkbox.checked.red {
  background: red;
}
.jq-checkbox.checked.pink {
  background: pink;
}
.jq-checkbox.checked.yellow {
  background: yellow;
}
.jq-checkbox.checked.blue {
  background: blue;
}
.jq-checkbox.checked.green {
  background: green;
}
.jq-checkbox.checked.grey {
  background: grey;
}
.jq-checkbox.checked.powder {
  background: #f78265;
}
.jq-checkbox.checked.teal {
  background: teal;
}
.jq-checkbox.checked.skyblue {
  background: skyblue;
}
.jq-checkbox.checked.purple {
  background: purple;
}
.jq-checkbox.checked .jq-checkbox__div {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.jq-checkbox.checked.white .jq-checkbox__div {
  border-bottom: 2px solid #2f2035;
  border-left: 2px solid #2f2035;
}
.jq-radio.checked .jq-radio__div {
  background: transparent;
  box-shadow: none;
}
.irs--flat.irs-with-grid {
  width: 100%;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: var(--c-blue);
}
.irs--flat .irs-bar {
  background-color: var(--c-blue);
}
.aside-filter__content-price {
  margin-top: 15px;
}
.irs--big .irs-handle {
  top: 29px;
  width: 11px;
  height: 20px;
}
.irs--big .irs-bar,
.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single,
.irs--big .irs-grid-pol {
  background: var(--c-blue);
}
.irs--big .irs-grid-text {
  color: var(--c-blue);
}
.irs--big .irs-min,
.irs--big .irs-max {
  display: none;
}
.aside-filter__item-list {
  display: flex;
  margin: 30px 0;
  border-bottom: 2px solid #c4c4c4;
}
.filter__item-list {
  padding-left: 26px;
  width: 50%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  padding-bottom: 15px;
}
.jq-selectbox {
  width: 50%;
}
.jq-selectbox li {
  color: var(--txt-main);
}
.jq-selectbox li:hover {
  background-color: var(--c-blue);
}
.jq-selectbox__select {
  top: -5px;
  height: 20px;
  padding: 0px 35px 0 10px;
  border: none;
  border-bottom-color: transparent;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  font: 14px/32px "SFProDisplay-Regular", sans-serif;
}
.jq-selectbox__select:hover {
  background: none;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.jq-selectbox__select:active {
  box-shadow: none;
}
.filter-more {
  font-size: 14px;
  line-height: 17px;
  color: var(--c-blue);
  text-decoration-line: underline;
  cursor: pointer;
}
.filter-search {
  width: 100%;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  line-height: 14px;
  padding: 0 20px;
  height: 30px;
  margin-top: 10px;
}
.filter-search::placeholder {
  color: #c4c4c4;
}
.action .aside-filter__content-multybox {
  position: relative;
}
.action span {
  position: absolute;
  top: 4px;
  left: 24%;
  transform: translateX(-40%);
  color: #575757;
}
.action .jq-checkbox.checked ~ span {
  color: #ffffff;
}
.action .jq-checkbox {
  background: #f0f0f4;
  width: 50px;
  height: 25px;
}
.action .jq-checkbox.checked {
  background: var(--c-blue);
}
.action .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}
.aside-filter__item-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-btn__send {
  padding: 15px 85px;
  font-size: 15px;
  line-height: 18px;
  color: #575757;
  cursor: pointer;
}
.filter-btn__send--active {
  color: #fff;
  background: var(--c-blue);
  border: none;
}
.filter-btn__reset {
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
  padding: 0;
  border: none;
  background: transparent;
  color: #8b8b8b;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
}

/* Сторінка-картка товару */
.product-card__inner {
  display: flex;
}
.product-card__img-box {
  text-align: center;
  padding-top: 30px;
  width: 90%;
  position: relative;
}
.product-card__img-box::before {
  font-size: 15px;
  line-height: 18px;
  padding: 13px 18px;
}
.product-card__price-old {
  font-size: 30px;
  line-height: 36px;
  text-decoration: line-through;
  opacity: 0.6;
}
.product-card__price-new {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 17px;
}
.product-card__link {
  font-size: 15px;
  line-height: 18px;
  border-bottom: 1px solid var(--c-blue);
  color: var(--c-blue);
}
.product-card__content {
  width: 100%;
}
.product-card__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-card__code {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 22px;
  opacity: 0.6;
}
.product-card__buttons {
  display: flex;
  margin-bottom: 50px;
}
.product-card__buttons a + a {
  margin-left: 25px;
}
.product-card__icon-favorite img,
.product-card__icon-chart img {
  width: 20px;
}
.product-card__tabs .tabs {
  padding-bottom: 15px;
}
.product-card__tab {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
  opacity: 0.6;
}
.product-card__tab.tab-active {
  background: transparent;
  opacity: 1;
  font-size: 20px;
  line-height: 24px;
}
.product-card__tab.tab-active span {
  border-bottom: 2px solid var(--c-blue);
  padding-bottom: 5px;
}
.product-card__list {
  margin-bottom: 20px;
}
.product-card__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding: 15px 0 6px;
  display: flex;
  justify-content: space-between;
}
.product-card__right {
  width: 200px;
}
.product-card__more {
  font-size: 14px;
  line-height: 17px;
  color: var(--c-blue);
  border-bottom: 1px solid var(--c-blue);
}
.product-card__btn-buy button {
  font-size: 14px;
  line-height: 17px;
  padding: 15px 55px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #fff;
  background: var(--c-blue);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .header {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .menu-categories {
    min-height: 30px;
  }
  .menu-categories__link {
    padding: 3px 0 3px;
    position: relative;
  }
  .top-box__adress {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
}
